<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {{> header}}
    <h1>{{title}}</h1>
    <h2>Bu bir HBS About sayfasıdır.</h2>
    <p>Bu Sayfanın yazarı {{name}}'dir.</p>
    <p>Bu sayfa hakkında daha fazla bilgi almak için <a href="https://www.example.com">buraya tıklayın</a>.</p>
    <img src="https://images.unsplash.com/photo-1601370552761-d129028bd833?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2xvdWR8ZW58MHx8MHx8fDA%3D" alt="Bulut Görseli" width="300" height="200">
    {{> footer}}
</body>
</html>