<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
</head>
<body>

    <div class="main-content">
        
    </div>
    {{> header}}
    <h1>{{title}}</h1>
    <h2>Bu bir HBS Help sayfasıdır.</h2>
    <p>Bu Sayfanın yazarı {{name}}'dir.</p>
    <p>Bu sayfa hakkında daha fazla bilgi almak için <a href="https://www.example.com">buraya tıklayın</a>.</p>
    <img src="https://cdn.pixabay.com/photo/2015/10/30/10/43/help-1013700_640.jpg" alt="Bulut Görseli" width="300" height="200">
    {{> footer}}
</body>
</html>