<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{> header}}
        <h1>{{title}}</h1>
        <p>Bu bir Hava Durumu sayfas覺d覺r.</p>        
    </div>


    <p>Bu Sayfan覺n yazar覺 {{name}}'dir.</p>
    {{> footer}}
</body>
</html>