<h1>Parça Kod Başlık</h1>
<header>
    <nav>
        <a href="/">Ana Sayfa</a> |
        <a href="/about">Hakkında</a> |
        <a href="/help">Yardım</a> |
        <a href="/weather">Hava Durumu</a>
    </nav>
    <hr>
</header>
